html,
body {
	height: 100%;
}

body:not(.parameters_hidden) {
	color: white;
	background-color: rgb(50, 50, 50);
}

body:not(:hover) #control_container {
	display: none
}

body:not(.parameters_hidden) #control_container {
	display: block
}

#music_name {
	font-weight: bold;
}

.hidden,
.parameters_hidden #parameter_container {
	display: none
}

#parameter_container {
	display: flex;
	flex-direction: column;
}